# yaml-language-server: $schema=https://json.schemastore.org/pyproject.json

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "testing-python"
version = "0.0.0"
description = "Testing stuff with Python."
authors = [{name = "billwallis"}]
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "arguably>=1.3.0",
    "avro>=1.12.0",
    "duckdb>=1.3.2",
    "pyarrow>=21.0.0",
    "python-dotenv>=1.1.1",
    "pyyaml>=6.0.2",
    "redis[hiredis]>=6.2.0",
    "requests>=2.32.5",
    "ruamel-yaml>=0.18.14",
    "setuptools>=80.9.0",
    "sqlglot[rs]>=27.4.0",
    "tzdata>=2025.2; sys_platform == 'win32'", # https://github.com/apache/arrow/issues/46080
]

[project.scripts]
gh-report = "src.github_reports.__main__:arguably.run"

[dependency-groups]
dev = [
    "poethepoet>=0.36.0", # https://poethepoet.natn.io/index.html
    "pre-commit>=4.2.0",
]


[tool.setuptools]
packages = ["src"]


[tool.uv]
required-version = ">=0.7,<1.0"
default-groups = "all"


[tool.poe]
envfile = ".env"

[tool.poe.tasks]
install.shell = """
    uv sync --all-groups
    uv run pre-commit install --install-hooks
"""


[tool.pytest.ini_options]
addopts = "--cov=src --cov-fail-under=80"
testpaths = ["tests"]


[tool.ruff]
line-length = 80
indent-width = 4
target-version = "py313"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.lint]
select = ["F", "I", "N", "PL", "R", "RUF", "S", "UP", "W"]
ignore = [
    "S311",  # Standard pseudo-random generators are not suitable for cryptographic purposes
]
fixable = ["ALL"]
unfixable = []
# Allow unused variables when underscore-prefixed
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# https://github.com/astral-sh/ruff/issues/4368
[tool.ruff.lint.extend-per-file-ignores]
"tests/**/*.py" = [
    "S101",    #  Use of `assert` detected
    "PLR2004", #  Magic value used in comparison
    "PLR0913", #  Too many arguments in function definition
]
